.vs/
bin/*
Library/*
obj/*
Temp/*
*.apk
*.csproj
*.unityproj
*.sln
*.userprefs
*.unitypackage
unity-plugin-ouya-sdk.CSharp.Editor.csproj
unity-plugin-ouya-sdk.CSharp.Plugins.csproj
unity-plugin-ouya-sdk.CSharp.csproj
unity-plugin-ouya-sdk.sln
UnityPluginStoreSDK/.idea/workspace.xml
Assets/Plugins/Android/libs/UnityPluginStoreSDK.jar
Assets/Plugins/Android/libs/UnityPluginStoreSDK.jar.meta
Assets/Plugins/Android/libs/armeabi-v7a.meta
Assets/Plugins/Android/libs/armeabi-v7a/lib-ndk-unity-store-sdk.so
Assets/Plugins/Android/libs/armeabi-v7a/lib-ndk-unity-store-sdk.so.meta
Assets/Plugins/Android/libs/store-sdk-standard-release.jar
Assets/Plugins/Android/libs/store-sdk-standard-release.jar.meta
